$h: home;

.#{$h} {

    padding: 40px 0;

    @include min-screen($desktop) {
        padding: 60px 0;
    }

    &__title {
        font: $fontReg;
        font-size: rem(22);
        line-height: rem(22);
        color: $grey;

        @include min-screen($desktop) {
            font-size: rem(26);
            line-height: rem(26);
        }
    }

    &__filter_wrap {
        margin: 30px 0 0;

        @include min-screen($desktop) {
            margin: 50px 0 0;
        }
    }


    &__cards_wrap {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: row;
        grid-gap: 15px;
        margin: 30px 0 0;

        @include min-screen($tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @include min-screen($desktop) {
            grid-template-columns: 1fr 1fr 1fr;
            margin: 50px 0 0;
        }
    }

}